/* Global */

h3 {
    text-align: center;
    margin-bottom: 1rem !important;
}


/*
* Lefthand specific 
*
*/


/* Targets the navigation bar that is located above the canvas element */
#canvas-container nav {
    display: flex;
}

#canvas-container nav div:last-child {
    margin-left: auto;
}

/* The actual canvas in which users will see their braids */
canvas#braidCanvas {
    border: 1px solid #000000;
    width: 100%;
    height: auto;
}



/*
* Right Hand specific 
*
*/


/* Labels */
.form-group label:first-child {
    font-size: 0.9rem !important;
    font-weight: bolder;
}

.form-group label {
    font-size: 0.85rem;
}

.form-group strong {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.9rem !important;
    margin-bottom: .5rem;

}

.form-group p.figure-caption {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
}

p.current-braid{
    padding-left: 0;
    padding-right: 15px;
    font-size: 0.9rem !important;
    margin-bottom: .5rem;
    font-weight: bolder;
    color: hsl(210deg 11% 30%);
}

/* Input Groups */

div.coordinate-input-group {
display: flex;
justify-content: space-between;
}

div.coordinate-input-group {
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
}

div.single-line-group{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;

}
div.single-line-group p.figure-caption{
    padding-left: 0px!important;
}

div.coordinate-input-group div.input-group {
    max-width: 45%;
}

div.single-line-group.reflection-group{
    flex:auto;
}
div.single-line-group div.align-self-center{
    justify-content: flex-end;
}
div.single-line-group div.align-self-center div{
    align-self: flex-start;
}


/* Braid Gallery */
#braidGallery {
    z-index: 1058;
    color: hsl(0, 0%, 42%);

}

#braidGallery div.modal-dialog {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;

}

#braidGallery div div.modal-content {
    background-color: hsl(0, 0%, 99%);
    border-top: 6px solid #0092ed;
}

#braidGallery div div div.modal-body {
    padding-left: 25px;
    padding-right: 25px;
}

#braidGallery div div div.modal-body p {
    margin-bottom: 0;
}

#braidGallery div div div.modal-header h5 {
    color: hsl(0, 0%, 27%) !important;
    font-weight: 600;
    font-size: 1.4rem;
    width: 100% !important;
    text-align: left !important;
}

#braidGallery div div div.modal-header {
    margin-top: 1rem;
    border-bottom: 0px solid #dee2e6;
    padding-left: 25px;
    padding-right: 25px;
}

#braidGallery div div div.modal-body button.btn-danger {
    background-color: #ed0000;
    font-weight: 600 !important;
    border-bottom: 0;
}

#braidGallery div div div.modal-footer p {
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#braidGallery div div div.modal-footer p strong a {
    color: hsl(0, 0%, 27%) !important;
}

#braidGallery div div div div.form-forgot-password {
    text-align: right;
    float: right;
    /* display: inline-block; */
}

#braidGallery div div div div.form-forgot-password strong a {
    color: hsl(0, 0%, 27%) !important;
    font-size: 0.90rem;
}

#braidGallery div div div.modal-footer {
    margin-top: 1.5rem;
    background-color: hsl(0, 0%, 93%);
    border-top: 0px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 0.90rem;
    justify-content: flex-end;
}

#braidGallery div div div.modal-footer div button.btn-link {
    color: hsl(0, 0%, 27%) !important;
}

#braidGallery div div div.modal-footer div button.btn-secondary {
    color: #6e9dee !important;
    border-color: #6e9dee;
    background-color: hsl(0, 0%, 93%);
}

#braidGallery div div div.modal-footer div button.btn-primary {
    /* color: hsl(0, 0%, 27%) !important; */
    border: 0px;
    background-color: hsla(203, 100%, 46%, 1);
}

/* Goal Image*/ 
#goal-image{
    padding: 5px;
    border: solid 1px #EFEFEF;
    cursor: pointer;
}
.braid-img {
    /* padding: 5px; */
    border: solid 1px #EFEFEF;
    cursor: pointer;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

img#goal-image:hover, img.braid-img:hover {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
}
/* Inputs */

/* input#iterations {
    max-width: 80px;
} */