body {font-family: "Open Sans", sans-serif; font-size: 9pt;
	-webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
	margin: 0;
	height: 100%;
	overflow: hidden;
}
#wrapper { position: absolute; top: 0px; left: 0px; height: 100%; width: 100%;overflow: hidden;}

#canvas id="background"{
	position:absolute;
	left:0px;
	top:0px;
	style="z-index: 1;
}   

#canvas id="canvas1"{
	position:absolute;
	left:0px;
	top:0px;
	style="z-index: 2;
}
#canvas id="canvas2"{
	position:absolute;
	left:0px;
	top:0px;
	style="z-index: 3;
}

#topMenu {
	border-style: solid;
    border-width: 1px;
	border-color: #999;
	background-color:#555;
    position: absolute;
    width: 100%;
    height: 70px;
    top: 0px;
    left:0px;
    z-index: 6;
}

#sideMenu {
	border-style: solid;
    border-width: 1px;
	border-color: #999;
	background-color:#DDD;
    position: absolute;
    width: 280px;
    height: calc(100% - 70px);
    top: 7%;
    right:0px;
    z-index: 5;
}

.button {
	color: #FFF;
    border: 0px;
    background: transparent;
    border-radius: 4px;
    padding: 1px 4px;
    width: 50px;
    height: 50px;   
    font-size: 11px;
    position: absolute;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    z-index: 8;
}
.button:hover {
	height: 55px; 
	background-size: 110% 110%;
    opacity: 0.35;
}

.button:focus {
	outline:0;
}

.button.selected {
    background-color: #9fe427;
}

#draw {
    left: calc(47% - 140px);
	top: 10px;
}
#draw:focus {
	opacity: 0.35;
}

#erase {
    left: calc(47% - 70px);
	top: 10px;
}
#erase:focus {
	opacity: 0.35;
}

#start {
    left: 47%;
    top: 10px;
}
#restart {
    left: calc(47% + 70px);
    top: 10px;
}
#reset {
    left: calc(47% + 140px);
	top: 10px;
}
#reset:focus {
	opacity: 0.35;
}

#help {
    left: calc(100% - 100px);
    top: 10px;
}
#help:focus {
    opacity: 0.35;
}

#drawGraph {
	font-size: 20px;
	width: 100px;
    left: 70px;
    top: 450px;
	background: #555;
}
#drawGraph:hover {
	opacity: 1;
	font-size: 22px;
	height: 55px;
	width: 110px;
    color: #ffa500;
    background-color: #333;
    left: 65px;
    top: 445px;
}

input {
    color: #666;
    border: 2px solid #999;
    background: #dbedd2;
    border-radius: 1px;
    padding: 1px 4px;
    width: 140px;
    height: 50px;   
    font-size: 20px;
    position: absolute;
    z-index: 9;
}

#equationInput {
	font-family: Courier New;
	font-weight: bold;
	letter-spacing: 3px;
	width: 200px;
    left: 45px;
    top: 220px;
}
#equationInput:focus {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bolder;
    outline:0;
    color: #000;
}
#equationStartX {
	font-family: Courier New;
	font-weight: bold;
	letter-spacing: 3px;
    left: 45px;
    top: 290px;
}
#equationStartX:focus {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bolder;
    outline:0;
    color: #000;
}
#equationEndX {
	font-family: Courier New;
	font-weight: bold;
	letter-spacing: 3px;
    left: 45px;
    top: 360px;
}
#equationEndX:focus {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bolder;
    outline:0;
    color: #000;
}
#graphOutput {
    width: 200px;
    background: transparent;
    letter-spacing: 0px;
    border: 0px solid #BBB;
    font-size: 20px;
    left: 45px;
    top: 520px;
}
#graphOutput:focus {
    outline:0;
}

#sampleEquationBtn {
	left: 45px;
    top: 10px;
}

#sampleEquation {
	left: 0px;
}

.dropbtn {
    border-radius: 6px;
    padding: 2px 6px;
    background-color: #546899;
    color: #EEE;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #334677;
	outline:0;
}

.dropdown {
    position: relative;
    display: inline-block;
	z-index: 10;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 11;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	font-family: Courier New;
	font-weight: bold;
	letter-spacing: 3px;
    color: #666;
    border: 2px solid #999;
    background: #dbedd2;
    font-size: 20px;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

