body {
	font-family: "Lato";
	font-size: 9pt;
	text-shadow: 0px 1px 0px white;
	-webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
	margin: 0;
	height: 100%;
	overflow: hidden;
}
#wrapper { position: absolute; top: 0px; left: 0px; height: 100%; width: 100%;overflow: hidden;}

#canvas id="background"{
	position:absolute;
	left:0px;
	top:0px;
	style="z-index: 1;
}   

#canvas id="canvas1"{
	position:absolute;
	left:0px;
	top:0px;
	style="z-index: 2;
}
#canvas id="canvas2"{
	position:absolute;
	left:0px;
	top:0px;
	style="z-index: 3;
}

#topMenu {
	border-style: solid;
    border-width: 1px;
	border-color: #999;
	background-color:#555;
    position: absolute;
    width: 100%;
    height: 70px;
    top: 0px;
    left:0px;
    z-index: 6;
}

#sideMenu {
	border-style: solid;
    border-width: 1px;
	border-color: #999;
	background-color:#DDD;
    position: absolute;
    width: 270px;
    height: calc(100% - 70px);
    top: 7%;
    right:0px;
    z-index: 5;
}

.button {
	color: #FFF;
    border: 0px;
    background: transparent;
    border-radius: 4px;
    padding: 1px 4px;
    width: 50px;
    height: 50px;   
    font-size: 11px;
	font-family: Lato;
    position: absolute;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    z-index: 8;
}
.button:hover {
	height: 55px; 
	background-size: 110% 110%;
    opacity: 0.35;
}

.button:focus {
	outline:0;
}

.button.selected {
    background-color: #9fe427;
}

#draw {
    left: calc(47% - 280px);
	top: 10px;
}
#draw:focus {
	opacity: 0.35;
}

#erase {
    left: calc(47% - 210px);
	top: 10px;
}
#erase:focus {
	opacity: 0.35;
}

#zoom {
    left: calc(47% - 140px);
	top: 10px;
}
#zoom:focus {
	opacity: 0.35;
}

#move {
    left: calc(47% - 70px);
	top: 10px;
}
#move:focus {
	opacity: 0.35;
}

#start {
    left: 47%;
    top: 10px;
}
#restart {
    left: calc(47% + 70px);
    top: 10px;
}
#reset {
    left: calc(47% + 140px);
	top: 10px;
}
#reset:focus {
	opacity: 0.35;
}

#load {
    left: calc(47% + 210px);
	top: 10px;
}
#load:focus {
	opacity: 0.35;
}

#save {
    left: calc(47% + 280px);
	top: 10px;
}
#save:focus {
	opacity: 0.35;
}

#login {
    left: calc(100% - 170px);
    top: 10px;
}
#login:focus {
    opacity: 0.35;
}

#help {
    left: calc(100% - 100px);
    top: 10px;
}
#help:focus {
    opacity: 0.35;
}

#drawGraph {
	border-radius: 40px;
	font-size: 22px;
	width: 80px;
	height: 80px;
    left: 95px;
    top: 440px;
	background: #7fd629;
	border-style: solid;
	border-width: 5px;
	border-color: #555;
}
#drawGraph:hover {
	opacity: 1;
	background: #23d110;
	border-radius: 45px;
	font-size: 26px;
	height: 90px;
	width: 90px;
    left: 90px;
    top: 435px;
}

#drawGraph:active {
	border-width: 6px;
	border-radius: 40px;
	font-size: 22px;
	width: 80px;
	height: 80px;
    left: 95px;
    top: 440px;
	opacity: 1;
	border-style: solid;
	border-width: 5px;
	border-color: #555;
	background-color: #22a814;
}

input {
    color: #666;
    border: 2px solid #999;
    background: #dbedd2;
    border-radius: 1px;
    padding: 1px 4px;
    width: 200px;
    height: 50px;   
    font-size: 20px;
    position: absolute;
    z-index: 9;
}

#equationInput {
	font-family: Courier New;
	font-weight: bold;
	letter-spacing: 3px;
    left: 30px;
    top: 220px;
}
#equationInput:focus {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bolder;
    outline:0;
    color: #000;
}
#equationStartX {
	font-family: Courier New;
	font-weight: bold;
	letter-spacing: 3px;
    left: 30px;
    top: 290px;
}
#equationStartX:focus {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bolder;
    outline:0;
    color: #000;
}
#equationEndX {
	font-family: Courier New;
	font-weight: bold;
	letter-spacing: 3px;
    left: 30px;
    top: 360px;
}
#equationEndX:focus {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bolder;
    outline:0;
    color: #000;
}
#graphOutput {
    width: 200px;
	font-family: Lato;
    background: transparent;
    letter-spacing: 0px;
    border: 0px solid #BBB;
    font-size: 28px;
    left: 30px;
    top: 520px;
}
#graphOutput:focus {
    outline:0;
}

#sampleEquationBtn {
	left: 30px;
    top: 45px;
}

#sampleEquation {
	left: 0px;
}

.dropbtn {
	font-family: Lato;
	width: 220px;
    border-radius: 6px;
    padding: 2px 6px;
    background-color: #546899;
    color: #EEE;
    padding: 16px;
    font-size: 22px;
    border: none;
    cursor: pointer;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.dropbtn:hover, .dropbtn:focus {
	width: 220px;
    background-color: #008ed6;
	outline:0;
}

.dropdown {
    position: relative;
    display: inline-block;
	z-index: 10;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	font-family: Lato;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	letter-spacing: 3px;
    color: #FFF;
    border: 2px solid #999;
    background: #555;
    font-size: 20px;
}

.dropdown a:hover {
	background-color: #777;
}

.show {display:block;}	


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	z-index: 11;
}

/* Modal Content */
.modal-content {
	text-align: center;
    position: relative;
    background-color: #fefefe;
	font-family: Lato;
	font-size: 22px;
	text-shadow: .5px .5px 1px rgba(0,0,0, .3);
    letter-spacing: 1px;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Closehelp Button */
.closehelp {
    color: white;
    float: right;
    font-size: 36px;
    font-weight: bold;
}

.closehelp:hover,
.closehelp:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
	font-size: 16px;
    padding: 2px 16px;
    background-color: #546899;
    color: white;
}

.modal-body {
	padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}